body, html {
  height: 100%;
  font-family: 'Space Mono', monospace;
}

::selection {
  background-color: #AD974F;
}
/*================
  NAVIGATION
=================*/
.brand a {
    color: #AD974F;
    margin: 5%;
    font-size: 2em;
    text-decoration: none;
}

.menu {
  position: absolute;
  right: 15px;
  top: auto;
  cursor: pointer;
  color: #AD974F;
  font-size: 2em;
}

/* Nav style */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.95);
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.overlay a {
  padding-top: 70px;
  text-decoration: none;
  font-size: 65px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.overlay a:hover, .overlay a:focus {
    color: #AD974F;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -70px;
    right: 10px;
    font-size: 70px;
}

ul.social {
  padding-top: 40px;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

ul li .fa {
  font-size: 2.5em;
}
/*================
  Basic Styles
=================*/
.button {
  padding: 25px 35px;
  margin: 10px 30px;
  font-size: 20px;
  font-weight: 700;
}

.intro-button {
  background-color: transparent;
  border: 3px solid #EAEAEA;
  padding: 25px 50px!important;
}

.intro-button-2 {
  background-color: #AD974F;
  border: none;
  margin-bottom:
}

hr {
  width: 30px;
  border: 5px solid #EAEAEA;
}

/*==================
    Home Styles
====================*/

.intro {
  background-color: rgb(20, 20, 20);
  height: 100%;
  color: #DCD0D0;
  padding-top: 10%;
}

.intro .content {
  margin: 0 auto;
  text-align: center;

}

.intro h1 {
  font-size: 60px;
}

#webDev {
  font-size: 2em;
}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}

/*=================
  MEDIA QUERIES
==================*/
@media screen and (min-width: 600px){
  .intro {
    padding-top: 5%;
  }

  .intro h1 {
    font-size: 90px;
  }

  #webDev {
    font-size: 3em;
  }

  .menu {
    right: 50px;
    top: 60px;
  }

  .overlay .closebtn {
      position: absolute;
      top: -55px;
      right: 30px;
      font-size: 80px;
  }

  ul.social {
    text-align: center;
  }


/*=== FADE IN ANIMATIONS ===*/
